<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Book Mage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='styles/index_project1.css') }}" />
    <link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">

    <title>Book Mage</title>

</head>
<body class="graphics" >
    <h1>Book Mage</h1>
        <p>Welcome to Book Mage</p>
    {% block body %}
   
    {% endblock %}
</body>
</html>